.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);

    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    cursor: pointer;
  }
  &__background {
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    // To hide it initially
    width: 0;
    opacity: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    @include centerHorizontal;
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1 rem;
  }
  &__link {
    span {
      display: inline-block;
      margin-right: 2rem;
    }

    &:link,     // these 2 are normal states
    &:visited {
      display: inline-block;
      padding: .8rem 2rem;

      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
  
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 225%;
      transition: all .35s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  // ICON
  &__icon {
    position: relative;
    @include centerHorizontal;

    &, &::before, &::after {
      display: inline-block;
      width: 3.2rem;
      height: 2.25px;
      background-color: $color-gray-dark-3;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.85rem; }
    &::after { top: .85rem; }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  // FUNCTIONALITY
  // Checkbox "hack" to check the checkbox when click on its label
  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  // Transform icon from hamburger to X 
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before, &::after {
      top: 0;
    }
    &::before {
      transform: rotate(-135deg); // 45deg
    }
    &::after {
      transform: rotate(135deg);  // -45deg
    }
  }
}